<!DOCTYPE html>

<html>

    <head lang="{{language}}">
        
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name=”description” content=”{{html.description}}”>
        <meta name="author" content="SHEO">
        <link rel="icon" href="{{HOST}}{{html.icon}}">
        
        <title>{{html.title}}</title>
        
        <link href="{{HOST}}files/get/build/other/desktop_preload.css?v={{app.resource_version}}"  type="text/css" rel="stylesheet">
        <script src="{{HOST}}files/get/build/other/desktop_preload.js?v={{app.resource_version}}"></script>
        <script src="{{html.webpack_url}}desktop.js?v={{app.resource_version}}"></script>
        <link href="{{html.webpack_url}}desktop.css?v={{app.resource_version}}" type="text/css" rel="stylesheet">
        
    </head>
    
    <body>
   
        <!-- CONTAINER -->
        <div id="slock">

            <div id="home_bg" class="absolute"></div>

            {{>soul_sidebar }}
            
			<div id="home_content" class="content_warp">

				<div class="home_content_row">
				
					<a class="home_h1 no_link" href="/">SHEO</a>
					<div class="home_text">Just a bunch of micro-apps to ease your life.</div>
					
				</div>

				{{>soul_signin }}

			</div>

            {{>soul_footer }}
            
            
        </div>
        
        {{>soul_js_data PRELOAD_DATA=PRELOAD_DATA }}
        
    </body>
    
</html>